.main-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  
  color: #fff;
  text-transform: uppercase;
  
  background-color: $red-bg-color;
}

.main-menu__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 1px;
}

.main-menu__title {
  position: relative;

  width: 297px;
  padding-left: 60px;
  margin: 20px;
  margin-left: 0;
  box-sizing: border-box;
  
  font-size: $main-font-size;
  color: #fff;
}

.main-menu__title::before {
  position: absolute;
  top: 2px;
  left: 0;
  content: '';
  display: block;
  width: 60px;
  height: 14px;
  background: url(../img/design/icons/menu.svg) no-repeat center center;
 background-size: 55%;

}

.main-menu__list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: calc(100% - 297px - 40px);
  box-sizing: border-box;
  @include list;
  
  
}

.main-menu__item {
  margin: 20px;
}

.main-menu__link {
  color: #fff;
  
  &:hover {
    color: $gray-text-color;
  }
  
  &:focus {
    @extend .main-menu__link:hover;
    outline: none;
  }
  
  &:active {
    color: #bbb;
  }
}
